.header {
  background: linear-gradient(135deg, var(--dark-blue), var(--slate-blue));
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-blue);
}

.logo img {
  margin-right: 0.5rem;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin-left: 1.5rem;
}

.navLinks a {
  text-decoration: none;
  color: var(--light-blue);
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navLinks a:hover {
  color: var(--light-blue);
}

.mobileMenuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobileMenuToggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 950px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #1f2937;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navLinks.show {
    display: flex;
  }

  .navLinks li {
    margin: 1rem 0;
  }

  .mobileMenuToggle {
    display: block;
  }
}